<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 30px;">
        <header>
            <nav class="navbar navbar-light justify-content-space-between" style="background-color: #C2E4DC;">
                <a class="nav-item nav-link" style="color: black" href="/">TECHTALK</a>
                <a class="nav-item nav-link" style="color: black" href="/">HOMEPAGE</a>
                <a class="nav-item nav-link" style="color: black" href="/dashboard">DASHBOARD</a>
                {{#if loggedIn}}
                <button id="logout" class="nav-item nav-link">LOGOUT</button>
                {{else}}
                <a class="nav-item nav-link" style="color: black" href="/login">LOGIN</a>
                {{/if}}
            </nav>
        </header>
        <main class="m-4">
            {{{ body }}}
        </main>

    </div>
</body>

</html>