<div class="row justify-content-between">
    <form class="login col">
        <div>
            <label for="login-username">USERNAME:</label>
            <input type="text" id="login-username" />
        </div>
        <div>
            <label for="login-password">PASSWORD:</label>
            <input type="text" id="login-password" />
        </div>
        <button id="login-submit" type="submit">LOGIN</button>
    </form>
    <form class="signup col">
        <div>
            <label for="signup-email">EMAIL:</label>
            <input type="text" id="signup-email" />
        </div>
        <div>
            <label for="signup-username">USERNAME:</label>
            <input type="text" id="signup-username" />
        </div>
        <div>
            <label for="signup-password">PASSWORD:</label>
            <input type="text" id="signup-password" />
        </div>
        <button id="signup-submit" type="submit">SIGNUP</button>
    </form>
</div>
<script src="/javascript/login.js"></script>